<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Enter You Want To Add Movies</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter the title">
    </div>
    <div class="mb-3">
        <label class="form-label">Year</label>
        <input type="text" class="form-control" name="year" placeholder="Enter the year">
    </div>
    <div class="mb-3">
        <label class="form-label">About</label>
        <input type="text" class="form-control" name="about">
    </div>
    <div class="mb-3">
        <label class="form-label">Cover</label>
        <input type="file" class="form-control" name="cover" placeholder="Enter the Cover">
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control">
    </div>
</form>
{% endblock %}